body{
    background-color: #dee4de;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #242524;
    font-size: 1.1em;
    margin: 20px;
    
}
nav{
    padding: 8px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    display: inline;
    padding: 8px;
    margin-right: 40px;
    background-color: #f5d6d4; 
    color: #22351f;
    text-decoration: none;
}
nav a:hover{
    background-color: #ffb0aa;
}
#bannerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 100%;
}
main a{
    color: #2f4e2b;
}
main a:hover{
    background-color:#b9c5b9;
}
footer{
    display:flex;
    border-top: 2px white dashed;
}
.links, .copy{
    flex: 1;
}
.links{
    padding: 10px;
}
.links img{
    padding: 5px;
}
.links img:hover{
    border: 2px solid #ffb0aa;
    padding: 3px;
}
.copy{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 0.9em;
}
h1{
    background-color: #7394c9;
    padding: 10px;
    margin: 10px;
    color: #22351f;
}

#skipbutton{ 
    position:absolute;
    left: -999px;
    background-color: white;           
    border: 1px solid black;  
}
#skipbutton:focus{
    position: absolute;
    left: 10px;
}
.scroll{
    margin: 15px;
    float: right;
    background-color: #7394c9;
    border:none;
    padding: 4px;
    border: 1px solid #7394c9;
    font-size: 1em;
}
.scroll:hover{
    background-color: #aabddb;
    border: 1px solid #7394c9;
}